#contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#box * {
    text-transform: uppercase;
    transition: 0.3s;
}

.line {
    display: flex;
    justify-content: center;
    gap: 10px;
}